.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.email {
  font-weight: 500;
}
