<ng-container *ngIf="vm$ | async as vm">
  <mat-toolbar color="primary" class="navbar">
    <span class="brand">Time Tracker</span>

    <span class="spacer"></span>

    <span class="user-info">
      <a routerLink="/profile" class="email">{{ vm.email }}</a>
      <button mat-button color="warn" (click)="onLogout()">Logout</button>
    </span>
  </mat-toolbar>

  <mat-card class="profile-card full">
    <mat-card-header>
      <mat-card-title>User #{{ vm.id }}</mat-card-title>
      <mat-card-subtitle>{{ vm.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>First name:</strong> {{ vm.firstName ?? "Not set" }}</p>
      <p><strong>Last name:</strong> {{ vm.lastName ?? "Not set" }}</p>

      <p><strong>Role:</strong> {{ vm.roleName }}</p>
      <p><strong>Joined:</strong> {{ vm.createdAt | date: "medium" }}</p>
      <p><strong>Last updated:</strong> {{ vm.updatedAt | date: "medium" }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="full">
    <form [formGroup]="form" (ngSubmit)="onUpdateUser()">
      <mat-form-field appearance="fill" class="full">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <div>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Save
        </button>
      </div>
    </form>
  </mat-card></ng-container
>
