<ng-container *ngIf="vm$ | async as vm">
  <mat-toolbar color="primary" class="navbar">
    <span class="brand">Time Tracker</span>

    <span class="spacer"></span>

    <span class="user-info">
      <a routerLink="/profile" class="email">{{ vm.email }}</a>
      <button mat-button color="warn" (click)="onLogout()">Logout</button>
    </span>
  </mat-toolbar>

  <mat-card class="profile-card full">
    <mat-card-header>
      <mat-card-title
        >User #{{ vm.id }}
        <button
          mat-icon-button
          matButton="elevated"
          color="primary"
          (click)="onEditProfile()"
        >
          <mat-icon>edit</mat-icon>
        </button></mat-card-title
      >
      <mat-card-subtitle>{{ vm.email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>First name:</strong> {{ vm.firstName ?? "Not set" }}</p>
      <p><strong>Last name:</strong> {{ vm.lastName ?? "Not set" }}</p>

      <p><strong>Role:</strong> {{ vm.roleName }}</p>
      <p><strong>Joined:</strong> {{ vm.createdAt | date: "medium" }}</p>
      <p><strong>Last updated:</strong> {{ vm.updatedAt | date: "medium" }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
