<mat-card>
  <h2>Forgot Password</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />

      @if (email().hasError("required")) {
        <mat-error>Email is required</mat-error>
      }

      @if (email().dirty && email().hasError("email")) {
        <mat-error>Email is invalid</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Send Reset Link
    </button>

    <p>Remembered your password? <a routerLink="/login">Login here</a></p>
  </form>
</mat-card>
