<mat-card>
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Email</mat-label>
      <input data-test="email-input" matInput formControlName="email" />

      @if (email().hasError("required")) {
        <mat-error>Email is required</mat-error>
      }

      @if (email().dirty && email().hasError("email")) {
        <mat-error>Email is invalid</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />

      @if (password().hasError("required")) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <button
      data-test="submit-btn"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Login
    </button>

    <p>Not registered? Sign up <a routerLink="/register">here</a></p>
    <p>Forgot password? Reset <a routerLink="/forgot-password">here</a></p>
  </form>
</mat-card>
